/* this is the slider flows */
h2 a{
    color: rgb(160, 9, 9);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
.cad{
    width: 70%;
}
.deem{
    width: 500px;
}
#slider{
    overflow: hidden;
    width: 900px;
    text-align: center;

}
#slider figure{
position: relative;
width: 500%;
margin: 0;
left: 0;
animation: 20s slider infinite;
}
#slider figure img{
    width: 20%;
   float: left; 
   height: 15%;
   background: cover;
}

@keyframes slider{
    0%{
        left: 0;
    }
    20%{
       left: 0;
    }
     25%{
         left: -100%;
     }
     40%{
         left: -100%;
     }
     45%{
         left: -200%;
     }
     50%{
         left: -200;
     }
     75%{
         left: -300%;
     }
     90%{
         left: -300%;
     }
     100%{
         left: -400%;
     }
}
.cad{
    text-align:left;
    
}